@page
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Minha Web Página";
    string nome = "Elias";
    string saudacao;

    var horaAtual = DateTime.Now.Hour;
    if (horaAtual < 12)
    {
        saudacao = "Bom dia";
    }
    else if (horaAtual < 18)
    {
        saudacao = "Boa tarde";
    }
    else
    {
        saudacao = "Boa noite";
    }
}

<h1>@saudacao, @nome!</h1>
<p>Data e hora atual: @DateTime.Now</p>
<h2>Nomes:</h2>
<ul>
    @{
        string[] nomes = { "João", "Maria", "Pedro", "Ana" };
        foreach (var n in nomes)
        {
            <li>@n</li>
        }
    }
</ul>
